
<h1> Welcome to the Casino! </h1>

<%
    ranks = [2, 3, 4, 5, 6, 7, 8, 9, 10, "jack", "queen", "king", "ace"]
    suits = ["clubs", "diamonds", "hearts", "spades"]

    deck = []
    for rank in ranks 
        for suit in suits
                card = "#{rank}_of_#{suit}"
                deck.push(card)
        end
    end
    
    shuffled_deck = deck.shuffle
    hand = shuffled_deck[0,2]
%>

<%=deck %>


<ul>

    <li> <%= shuffled_deck[0] %> </li>
    <li> <%= shuffled_deck[1] %> </li>
    <li> <%= shuffled_deck[2] %> </li>
    <li> <%= shuffled_deck[3] %> </li>
    <li> <%= shuffled_deck[4] %> </li>

</ul>

<% for card in hand %>
<img src="/images/cards/<%= card %>.svg">
<% end %>

<img src="/images/cards/<%= shuffled_deck[0] %>.svg">
<img src="/images/cards/<%= shuffled_deck[1] %>.svg">
<img src="/images/cards/<%= shuffled_deck[2] %>.svg">
<img src="/images/cards/<%= shuffled_deck[3] %>.svg">
<img src="/images/cards/<%= shuffled_deck[4] %>.svg">